<!DOCTYPE html>
<html>
  <head>
    <style>
	.ng-empty {border-color: red}
	.ng-dirty {border-color: green}
	ul {display: inline}
	li {
		display: inline;
		padding: 10px;}
	
	.base {
		position: absolute;
		top: 350px;
		left: 200px;
		z-index: -1;
	}
	.testa {
		position: absolute;
		top: 351px;
		left: 200px;
		z-index: 1;
	}
	.corpo {
		position: absolute;
		top: 422px;
		left: 200px;
		z-index: 1;
	}
	.hide {display: none}
	.mark {top: 500px}
    </style>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="myApp.js"></script>
	<script src="myCtrl.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl as ctrl">
	<img-piloti></img-piloti>
	<h3>Crea il tuo Pilota</h3>
	<h5>Scegli un volto, un corpo e un numero/nome</h5>
	<form name="myForm">
		<label>Volto di: </label><select ng-model="ctrl.pilota1" ng-options="pilota.nome for pilota in ctrl.piloti" required></select>
		<label>Corpo di: </label><select ng-model="ctrl.pilota2" ng-options="pilota.nome for pilota in ctrl.piloti" required></select>
		<label>Numero e nome di: </label><select ng-model="ctrl.pilota3" ng-options="pilota.nome for pilota in ctrl.piloti" required></select>
		<button ng-click="myForm.$valid && ctrl.fusione(ctrl.pilota1, ctrl.pilota2, ctrl.pilota3)">Fusione</button>
	</form>
	<img-fusione></img-fusione>
</body>
</html>